  <p> <%= label_tag 'anonymous_author', "Qui êtes-vous, anonyme ?" %> </p>
  <p> <%= text_field_tag 'anonymous_author' %> </p>

  <p> <%= label_tag 'content', "Contenu de l'article" %> </p>
  <p> <%= text_area_tag 'content' %> </p>